<div class="row">
    <div class="col-12">
        <h1>{{pageTitle}}</h1>
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb pt-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0);" (click) ="navigateTo('/admin/dashboard')">Accueil</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <a href="javascript:void(0);" (click) ="navigateTo(pageUrl)" >{{pageTitle}}</a>
                    </li>
                </ol>
            </nav>
        <div class="separator mb-5"></div>
    </div>
</div>
